*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    
}
.Content{
    background-color: white;
    justify-content: space-between;
    align-items: center;/*eixo y*/
    background-color: rgb(94, 92, 92);
    border-radius: 30px;
    width: 960px;
    height: 50%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}

.Content::before{
    content: "";
    position: absolute;
    background-color:#c91c1c ;
    /*background-size: cover;*/
    /*background-position: center;*/
    width: 40%;
    height: 100%;
    border-radius: 30px;
    border-top-right-radius: 100px;
    border-bottom-right-radius:100px; 
    
}

.first-content{
    display: flex;
    
}
.second-content{
    position:absolute;
    display: flex;
}
.first-content .second-column{
    z-index: 2;
    

}
.second-content .first-column{
    z-index: -1;
    order: 2;
}
.second-content .second-column{
    z-index: -1;
    order: 1;
}


.title{
    
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    margin-top: 1.5rem;
}
.title-color{
    color: white;
}
.title-custom{
    color: #c91c1c;
    
}

.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height:30px ;
}
.description-second{
    color: #7f8c8d;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor :pointer;
    width: 150px ;
    align-self: center;
    border: 0;
    margin: 1rem 0;
}
.btn-custom{
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.5s;
}
.btn-edit{
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.5s;
}
.btn-edit:hover{
    background-color: #fff;
    color: #c91c1c;
    transform: scale(1.1);
}

.btn-custom:hover {
    background-color: #fff;
    color: #c91c1c;
    transform: scale(1.1);
}
.btn-second{
    background-color: #c91c1c;
    border: 1px solid #c91c1c;
    transition: 0.5s;
    
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #c91c1c;
    color: #c91c1c;
    transform: scale(1.1);
    

}
#btn{
    margin-bottom: 2rem;
}



.first-column{
    text-align: center;
    width: 40%;
    z-index: 1;
    
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form{
    display: flex;
    flex-direction:column ;
    width: 55%;
    

}
.link-password{
    color: #7f8c8d;
    text-decoration: none;
    font-size: 13px;
    margin: 10px 0;
    text-align: center;
}
.link-password::first-letter{
    text-transform: capitalize;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    outline: none;
    width: 100%;
    border-radius: 20px;

}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 6px;
    border-radius: 20px;
}
.icon-custom{
    color: #7f8c8d;
    padding:0 5px;
}


/*transição de login para cadastro*/

.sign-in .first-content .first-column ,.sign-in .first-content .second-column {
    z-index: -1;
}

.sign-in .second-content .second-column{
    position: relative;
    animation: test 1s;
    z-index: 10;
}
.sign-in .second-content .first-column{
    z-index: 13;
    
}

.sign-in .Content::before{
    left: 60%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 100px;
    animation: slidein 1s ;
    z-index: 12;
}

.sign-up .Content::before{
    animation: slideup 1s;
    left: 0%;
    z-index: 12; 
     
}


.sign-up .second-content .first-column, .sign-up .second-content .second-column {
    z-index: -1;
    
}


 .sign-up .first-content .second-column{
    position: relative;
    animation: fora-para-dentro 1s;
    z-index: 10;
}
.sign-up .first-content .first-column{
    position: relative;
    animation: test 1s;
    z-index: 13;
}
.sign-in .first-content .first-column{
    position: relative;
    animation: dentro-para-fora 1s;
}
.sign-in .first-content .second-column{
    animation: dentro-para-fora 1s;
    
    
}
.sign-up .second-content .second-column{
    position: relative;
    animation: dentro-para-fora 1s;
}
.sign-up .second-content .first-column{
    position: relative;
    animation: deslocamento 1s;
} .sign-in .second-content .first-column{
    position: relative;
    animation: fora-para-dentro 1s;
}



/*Animação de deslocamento */
.sign-in .first-content .second-column{
    z-index: -1;
    position: relative;
    animation: deslocamento 1s;
    
}
@keyframes deslocamento {
    from{
        left: 0;
        
        z-index: 15;
    }
    to{
        left: +500px;
        
        z-index: 15;
        
    }
    
    
}@keyframes fora-para-dentro {
    from{
        left: +500px;
        z-index: 15;
    }to{
        left: 0;
        z-index: 15;
    }
}

@keyframes test {
    from{
        left: -600px;
        z-index: 15;
    }to{
        left: 0;
        z-index: 15;
    }
} 
@keyframes dentro-para-fora {
    from{
        left: 0;
        z-index: 15;
    }
    to{
        left: -600px;
        z-index: 15;
    }
}



/*Animação */



@keyframes slidein{
    from{
        left: 0;
        width: 40%;
        border-radius: 30px;
        border-top-right-radius: 100px;
        border-bottom-right-radius:100px; 

    }
    to{
        left: 60%;
        width: 40%;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 100px;

    }
}
@keyframes slideup {
    from{
        left: 60%;
        width: 40%;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 100px;
    }
    top{
        left: 0%;
        width: 40%;
        border-radius: 30px;
        border-top-right-radius: 100px;
        border-bottom-right-radius:100px;
    }
}

@media screen and (max-width:963px) { 
    .conteiner{
        display: flex;
        flex-direction: column;
    }
    
    .Content{
        width: 100vh;
        height: 100vh;
        border:none;
        
    }
    .Content::before{
        display: none;
    }
    
    
    .first-content{
        display: flex;
        flex-direction: column-reverse;
    }.second-content{
        display: flex;
        flex-direction: column;
    }


        
        
    .first-column{
        width: 100%;
        height: 50%;
        
    }
    .second-column{
        width: 100%;
        height: 50%;
        
    }.title-custom{
        font-size: 50px;
        font-weight: bold;
    }.title-color{
        font-weight: 50px;
        font-weight: bolder;
    }
}
    
        
    
    
    
    